<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark">
    <li class="breadcrumb-item"><a href="/">Parties</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>
<div class="card my-3 bg-dark text-light">
  <div class="card-body">
    <div class="card-title">
      <h1>
        Create New Party
      </h1>
    </div>
  </div>
</div>
<div class="container bg-dark text-light">
  <%= form_for :party, url: parties_path do %>
    <div class="form-group">
      <label for="inputName" class="col-form-label">Party Name</label>
      <div class="">
        <input type="string" class="form-control" name="name" id="inputName" required></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPlayerCount" class="col-form-label">Player Count</label>
      <div class="">
        <input type="number" min="1" max="4" class="form-control" name="player_count" id="inputPlayerCount" required></input>
      </div>
    </div>
    <div class="form-group">
      <label for="inputScenarioLevel" class="col-form-label">Scenario Level</label>
      <div class="">
        <input type="number" min="0" max="7" class="form-control" name="scenario_level" id="inputScenarioLevel" required></input>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  <% end %>
</div>
